mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
}

main {
  padding: 40px;
  flex: 1;
}

mat-toolbar {
  background-color: #0a0b24;
  color: white;
  padding: 10px 40px;
}

/** -- Live Feed Section Styling -- **/
.toggle-feed {
  font-size: 14px;
  padding: 8px;
  line-height: 14px !important;
}

.select-title {
  font-size: 12px !important;
  font-weight: 600;
  color: #a2a2b0;
  text-transform: uppercase;
}

.img {
  border-radius: 8px;
  margin: 28px 0;
}

/** -- Map Section Styling -- **/
.map-container {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;

  agm-map {
    padding-right: 10px;
    height: 100%;
    width: 100%;
  }
}

.map-margin {
  margin-left: 40px;
}