<mat-drawer-container class="example-container">
  <mat-drawer-content>
    <header>
      <mat-toolbar>
        <a routerLink="/lobby" routerLinkActive="active" class="logo" [style.marginRight.px]="30">
          <img src="assets/quix-logo.svg" alt="Quix" width="40" />
        </a>
        <span class="mat-h3 m-0">Image recognition demo</span>
      </mat-toolbar>
    </header>
    <main>
      <div fxFlex fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.xs="0" fxLayoutGap.gt-xs="40">
        
        <!-- Live feed Section -->
        <div fxLayout="column" fxFlex.gt-xs="50" fxFlex.gt-sm="400px">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="mat-h2 m-0">Image Feed</div>
            <button mat-raised-button class="toggle-feed" [color]="!showImages ? 'primary' : undefined" (click)="toggleFeed()">{{ showImages ? 'Pause feed' : 'Resume feed' }}</button>
          </div>
          <img class="img" [src]="last_image" width="100%">

          <mat-form-field appearance="outline" class="mt-2">
            <mat-label>Select object</mat-label>
            <mat-select [value]="selectedObject" (selectionChange)="selectedObjectChanged($event)">
              <mat-option class="select-title" disabled>Popular objects</mat-option>
              <mat-option *ngFor="let type of popularObjectTypes" [value]="type">
                {{ type | titlecase }}
              </mat-option>
              <mat-divider></mat-divider>
              <mat-option class="select-title" disabled>Other objects</mat-option>
              <mat-option *ngFor="let type of otherObjectTypes" [value]="type">
                {{ type | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div [style.fontSize.px]="14" [style.marginBottom.px]="40">Searching for {{ selectedObject }}...</div>
        </div>

        <!-- Map Section -->
        <div fxFlex.gt-xs="50" fxFlex.gt-sm="100" fxFlex fxLayout="column" class="map-container">
          <agm-map #map [zoom]="10" [maxZoom]="25" [fitBounds]="false" [latitude]="latitude" [longitude]="longitude"
            (mapReady)="onMapReady($event)">
          </agm-map>
        </div>
        
      </div>
    </main>
  </mat-drawer-content>
</mat-drawer-container>