**/ref/
**/obj/
**/bin/
**/Lib/
**/.idea/
myenv/
DotSettings.user
**DotSettings.user
ca.cert
.idea/
__pycache__/
certificates/
state/
**/node_modules/**
.vscode/
.DS_Store
repo.json
.vs/
launchsettings.json
.env
**venv/
.direnv/
.envrc