
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@import 'variables';

@include mat.core($quix-template-typography-config);

// Include theme and typography styles for core and each component used in your app.
@include mat.core-theme($quix-template-theme);
@include mat.button-theme($quix-template-theme);
@include mat.form-field-theme($quix-template-theme);
@include mat.input-theme($quix-template-theme);
@include mat.select-theme($quix-template-theme);
@include mat.icon-theme($quix-template-theme);
@include mat.divider-theme($quix-template-theme);


/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; }

// Custom classes
.m-0 {
  margin: 0 !important;
}

// Form field
.mat-form-field {
  &.mat-form-field-has-label {
    .mat-form-field-infix {
      padding: 0 !important;
      line-height: 2.6em;
    }
    &.mat-form-field-appearance-outline {
      .mat-form-field-label {
        top: 0.84375em;
        margin-top: -0.25em;
      }
    }
    &.mat-form-field-should-float {
      .mat-form-field-label {
        transform: translateY(-1.2em) scale(.75);
      }
    }
  }
}

// Button
.mat-raised-button {
  line-height: 40px !important;
  background-color: #646471;
  color: white;
}

.mat-divider {
  background-color: #f1f1f3;
  margin: 5px 16px !important;
}