<div fxLayout="row" fxLayoutAlign="space-between center" class="alert-title">
  <span fxLayout="row" fxLayoutAlign="start center" class="mat-body-2" fxLayoutGap="5px">
    <mat-icon *ngIf="alert.icon" [fontIcon]="alert.icon" [color]="alert.color" inline></mat-icon>
    <strong *ngIf="alert?.title">{{ alert.title }}</strong>
  </span>
  <mat-icon fontIcon="close" inline></mat-icon>
</div>
<ng-container *ngIf="alert?.streamId">
  <p class="mat-body-2 alert-content">User: {{ alert.streamId }}</p>
  <button mat-button class="mat-body-2" (click)="setStreamId(alert.streamId!)">
    <mat-icon fontIcon="person_pin_circle" inline></mat-icon>
    <strong>View user</strong>
  </button>
</ng-container>