:host {
  margin-top: 80px;
}

.alert-title {
  margin-bottom: 5px;
}

.alert-content {
  color: #646471
}

.mat-button {
  background-color: #e4e4e6;
  min-width: 0;
  line-height: 28px;
  padding: 0 8px;
}