main {
  overflow: auto;
}

mat-toolbar {
  background-color: #0a0b24;
  color: white;
  padding: 10px 40px;
}

.dashboard {
  background-color: #f1f1f3;
  border-radius: 8px;
  padding: 8px;

  .dashboard-cell {
    background-color: white;
    border-radius: 8px;
    margin: 8px;
    padding: 5px;
    font-weight: bold;

    .dashboard-title {
      color: #a2a2b0;
      margin-bottom: 5px;
      white-space: nowrap;
      font-weight: 500;
    }

    &.table-cell {
      overflow: auto;
      min-height: 130px;
      padding: 0;
    }
  }
}

table {
  padding: 0 12px;
  th {
    font-weight: bold;
    color: black;
    white-space: nowrap;
    padding: 0 12px;
  }
  td {
    color: #646471;
    white-space: nowrap;
    padding: 0 12px;
  }

  mat-icon {
    font-size: 16px;
    margin-right: 5px;
  }
}

.mat-button-base:not(.mat-warn) {
  background-color: rgba(255, 255, 255, 0.24) !important;
  color: white !important;
  min-width: 0;
}

.mat-chip {
  background-color: white;
  min-height: 36px;
  border-radius: 18px;
}

.status-icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
}

.float-center {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.highlighted {
  background-color: rgba(0, 100, 255, 0.08);
}