<div fxLayout="column" fxFlexFill>
  <div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <strong class="mat-h3">Alerts</strong>
    <mat-icon fontIcon="close" class="dialog-close" (click)="close()"></mat-icon>
  </div>
  <mat-divider></mat-divider>
  <ng-container *ngFor="let _ of alerts; let i = index">
    <ng-container *ngIf="alerts.length - i  as index">
      <ng-container *ngIf="alerts[index - 1] as alert">
        <div class="alert" [class.highlighted]="i < unreadAlertsCount" fxLayout="row" fxLayoutGap="5px">
          <div>
            <mat-icon *ngIf="alert.icon" [fontIcon]="alert.icon" [color]="alert.color"></mat-icon>
          </div>
          <div>
            <p class="mat-body-2" *ngIf="alert?.title"><strong>{{ alert.title }}</strong></p>
            <p class="mat-body-2 alert-content" *ngIf="alert?.streamId">User: {{ alert.streamId }}</p>
            <p class="mat-body-2 alert-timestamp" *ngIf="alert.timestamp">{{ (alert.timestamp / 1000000) | date: 'MMM d, HH:mm:ss.SSS' }}</p>
            <button mat-button class="mat-body-2" *ngIf="alert?.streamId" (click)="setStreamId(alert.streamId!)">
              <mat-icon fontIcon="person_pin_circle" inline></mat-icon>
              <strong>View user</strong>
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <mat-divider></mat-divider>
  </ng-container>
  
  <div fxFlex fxLayout="column" fxLayoutAlign="center center" 
    class="alert-placeholder" *ngIf="!alerts.length">
    <span>No alerts</span>
  </div>
</div>
