:host {
  height: 100%;
  display: block;
}

.mat-dialog-title {
  padding: 15px;
  margin-bottom: 0;

  .mat-h3 {
    margin-bottom: 0;
    font-weight: 600;
  }

  .dialog-close {
    cursor: pointer
  }
}

.alert {
  padding: 15px;
  
  .alert-content {
    color: #646471;
    margin-bottom: 5px;
  }
  
  .alert-timestamp {
    font-weight: 500;
  }
}

.alert-placeholder {
  color: #a2a2b0;
}

.mat-button {
  background-color: #e4e4e6;
  min-width: 0;
  line-height: 28px;
  padding: 0 8px;
}

.highlighted {
  background-color: rgba(0, 100, 255, 0.08);
}