<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="40px">
  <div fxLayout="column" fxLayoutGap="40px">
    <p class="mat-body">Enter a name and device ID to generate a QR code for your app pairing token.</p>
    <form [formGroup]="form" fxLayout="column" #formDirective="ngForm" (ngSubmit)="submit(formDirective)" autocomplete="off">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" autofocus />
        <mat-error>Required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>DeviceID</mat-label>
        <input formControlName="deviceId" matInput />
        <mat-hint>Enter a recognisable ID for your device</mat-hint>
        <mat-error>Required</mat-error>
      </mat-form-field>
      <div [style.marginTop.px]="30">
        <button mat-raised-button color="primary" [disabled]="form.invalid">Generate token</button>
      </div>
    </form>
  </div>
  <div fxFlex="400px">
    <div class="dashboard" fxLayout="column" [class.disabled]="!tokenData">
      <div class="dashboard-cell mat-caption" 
        fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <p class="mb-0">Name: <span [class.fw-bold]="tokenData">{{ tokenData?.name || '--'}}</span></p>
        <p class="mb-0">DeviceID: <span [class.fw-bold]="tokenData">{{ tokenData?.deviceId || '--'}}</span></p>
      </div>
      <div class="dashboard-cell qr-cell" fxLayoutAlign="center center">
        <mat-spinner color="primary" class="float-center position-absolute" *ngIf="processing"></mat-spinner>
        <qr-code [value]="qrInfo" level="L" [size]="360" [class.invisible]="!qrInfo"></qr-code>
      </div>
      <div class="dashboard-cell mat-body" fxLayoutAlign="center center" fxLayoutGap="10px">
        <span>QR code expires in:</span>
        <strong *ngIf="timeLeft">{{timeLeft | number : '2.0-0'}}s</strong>
      </div>
    </div>
  </div>
</div>
