.dashboard {
  background-color: #e4e4e6;
  border-radius: 8px;
  padding: 8px;

  .dashboard-cell {
    background-color: #f1f1f3;
    border-radius: 8px;
    margin: 8px;
    padding: 5px;

    .dashboard-title {
      color: #a2a2b0;
      margin-bottom: 5px;
      white-space: nowrap;
      font-weight: 500;
    }

    &.qr-cell {
      background-color: #fff;
      padding: 0;
    }
  }

  &.disabled {
    color: #a2a2b0;
  }
}