<div *ngIf="!hasUsername" class="clr-col-12">
    <div class="clr-row" >
        <label class="fieldLabel" for="usernameInput">Username:</label> <input id="usernameInput" type="text" [(ngModel)]="username">
    </div>
    <div class="clr-row" >
        <label class="fieldLabel" for="deviceInput">Device:</label> <input id="deviceInput" type="text" [(ngModel)]="device">
    </div>
    <div class="clr-row" >
        <button class="btn btn-success-outline" (click)="saveUserName()">OK</button>
    </div>
    <div class="clr-row" *ngIf="firstPageError !== ''" >
        <label class="label label-danger">{{firstPageError}}</label>
    </div>
</div>


<div *ngIf="hasUsername" class="clr-col-12">
    <div class="clr-row" >
        <span class="margin-small label label-gray">Username: {{username}} | Device: {{device}}</span>
    </div>
    <div class="clr-row" >
        <button class="btn btn-success" (click)="ok_click()">Generate token</button>
        <span *ngIf="processing" class="spinner spinner-inline">Please wait</span>
        <span *ngIf="showWorkingOnItMessage" class="label info">Working on it..</span>
    </div>
    <div class="clr-col-4">
        <span>Add your own key value pairs to the App Pairing token store</span>
        <table class="table table-compact ">
            <thead>
            <tr>
                <td>Key</td>
                <td>Value</td>
                <td></td>
            </tr>
            </thead>
            <tr *ngFor="let prop of additionalProperties | keyvalue">
                <td>{{prop.key}}</td>
                <td>{{prop.value}}</td>
                <td><button class="btn btn-danger-outline" style="cursor: pointer" (click)="DelProp(prop.key)">Delete</button></td>

            </tr>
            <tr>
                <td><input clrInput placeholder="Enter a Key" [(ngModel)]="newKey"></td>
                <td><input clrInput placeholder="Enter a Value" [(ngModel)]="newValue"></td>
                <td><button class="btn btn-primary" style="cursor: pointer" (click)="AddProp()">Add</button></td>
            </tr>
        </table>

    </div>
<!--    <div class="clr-row table" >-->
<!--      <span [hidden]="this.qrId == undefined || this.qrId.isEmpty()">QR Code ID:</span><label [title]="this.qrId">{{qrId}}</label>-->
<!--    </div>-->
<!--    <div class="clr-row">-->
<!--      API URL: <input type="text" class="clr-input clr-col-10" [(ngModel)]="apiurl">-->
<!--    </div>-->

    <div class="clr-row table" >
      <qr-code [hidden]="qrInfo == ''" [value]="qrInfo" level="L" size="400"></qr-code>
    </div>
    <div class="clr-row table" >
        <span [hidden]="this.qrId == undefined || this.qrId.isEmpty()">QR code expires in: </span><label [hidden]="qrInfo == ''">{{this.timeLeft | number : '2.0-0'}}</label>
    </div>

  </div>