
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use 'sass:map';
@use '@angular/material' as mat;

@import 'variables';

@include mat.core($quix-template-typography-config);

// Include theme and typography styles for core and each component used in your app.
@include mat.core-theme($quix-template-theme);
@include mat.button-theme($quix-template-theme);
@include mat.form-field-theme($quix-template-theme);
@include mat.select-theme($quix-template-theme);
@include mat.input-theme($quix-template-theme);
@include mat.icon-theme($quix-template-theme);
@include mat.table-theme($quix-template-theme);
@include mat.divider-theme($quix-template-theme);
@include mat.snack-bar-theme($quix-template-theme);
@include mat.dialog-theme($quix-template-theme);
@include mat.chips-theme($quix-template-theme);
@include mat.progress-spinner-theme($quix-template-theme);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; }

// Custom classes
.m-0 {
  margin: 0 !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

a {
  color: mat.get-color-from-palette($quix-template-primary, default);
  text-decoration: none;
}

// Form field
.mat-form-field {
  &.mat-form-field-has-label {
    .mat-form-field-infix {
      padding: 0 !important;
      line-height: 2.6em;
    }
    &.mat-form-field-appearance-outline {
      .mat-form-field-label {
        top: 0.84375em;
        margin-top: -0.25em;
      }
    }
    &.mat-form-field-should-float {
      .mat-form-field-label {
        transform: translateY(-1.2em) scale(.75);
      }
    }
  }
}

// Table
tr.mat-header-row, 
tr.mat-row, 
tr.mat-footer-row {
  height: 34px !important;
}

// Snackbar
.snackbar-alert {
  margin-top: 80px !important; 
  border-left: 5px solid mat.get-color-from-palette($quix-template-warn, default);
  background: map.get(mat.$light-theme-background-palette, card);
  color:  map.get(mat.$light-theme-foreground-palette, text);
}

/** Custom Styling used for the side panel dialog **/
._side-dialog-backdrop {
  & + .cdk-global-overlay-wrapper {
    align-items: flex-start !important;
    justify-content: flex-end !important;
  }
}

._side-dialog-panel {
  @keyframes fadeInSidePanel {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.4);
  border-radius: 16px 0 0 16px;
  animation-name: fadeInSidePanel;
  animation-duration: 0.4s;
  animation-fill-mode: both;

  .mat-dialog-container {
    box-shadow: none;
    padding: 0;

    .mat-dialog-content {
      height: 100%;
      max-height: inherit;
      overflow: auto;
      margin: 0;
      padding: 0;
    }
  }
}

// Overlay
.cdk-overlay-pane {
  pointer-events: none;
  > * {
    pointer-events: all;
  }
}