quixstreams==3.23.1
python-dotenv

# QuixLake Sink with blob storage support (AWS S3, Azure, GCP, MinIO)
--extra-index-url https://pkgs.dev.azure.com/quix-analytics/53f7fe95-59fe-4307-b479-2473b96de6d1/_packaging/public/pypi/simple/
quixlake-sink[quixportal]
