<section fxLayout="column" fxFlex.gt-sm="400px" fxLayoutGap="30">
  <ng-container *ngIf="storedConnection">
    <div>
      <h4>Re-enter chat room?</h4>
    
      <mat-card class="reconnect-card">
        <mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
          <div class="mat-body-2">
            <p><strong>Room:</strong> {{ storedConnection.room }}</p>
            <p class="m-0"><strong>Name:</strong> {{ storedConnection.name }}</p>
          </div>
          <button mat-raised-button color="primary" (click)="connect(storedConnection)">
            Re-enter
            <mat-icon fontIcon="arrow_forward"></mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    
    <div fxLayout="row" class="divider" fxLayoutGap="10">
      <mat-divider fxFlex></mat-divider>
      <span>OR</span>
      <mat-divider fxFlex></mat-divider>
    </div>
    
  </ng-container>
  
  <p>
    <strong>Enter your details to connect to a new chat room.</strong><br>
    You can add your phone number or email in order to build an alerting pipeline.
  </p>
  
  <form [formGroup]="form" (ngSubmit)="submit()" fxLayout="column" autocomplete="off">
    <mat-form-field appearance="outline">
      <mat-label>Room</mat-label>
      <input matInput formControlName="room" autofocus />
      <mat-error>Required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error>Required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone Number (optional)</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email (optional)</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    
    <div>
      <button mat-raised-button color="primary" [disabled]="form.invalid">Connect</button>
    </div>
  </form>
</section>