// Define typography
$quix-template-typography-config: mat.define-typography-config(
  $font-family:   (Inter, "Helvetica Neue", sans-serif),
  $display-4:     mat.define-typography-level(10px, 18px, 600),
  $display-3:     mat.define-typography-level(12px, 20px, 600),
  $display-2:     mat.define-typography-level(14px, 20px, 600), // display-2, H6 at 0.67em
  $display-1:     mat.define-typography-level(16px, 24px, 600), // display-1, H5 at 0.83em
  $headline:      mat.define-typography-level(32px, 40px, 500), // H1
  $title:         mat.define-typography-level(24px, 30px, 500), // H2
  $subheading-2:  mat.define-typography-level(18px, 24px, 500), // H3
  $subheading-1:  mat.define-typography-level(16px, 24px, 500), // H4
  $body-1:        mat.define-typography-level(16px, 24px, 400), // Body 1
  $body-2:        mat.define-typography-level(14px, 20px, 400), // Body 2
  $caption:       mat.define-typography-level(12px, 20px, 400), // Caption
  $button:        mat.define-typography-level(18px, 24px, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat.define-typography-level(inherit, 1.125, 400),
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$quix-template-primary: mat.define-palette(mat.$blue-palette, A700);
$quix-template-accent: mat.define-palette(mat.$green-palette, 600);
// The warn palette is optional (defaults to red).
$quix-template-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$quix-template-theme: mat.define-light-theme((
  color: (
    primary: $quix-template-primary,
    accent: $quix-template-accent,
    warn: $quix-template-warn,
  )
));
